# PropertyTree dist

dist /extensions/PropertyTree/PropertyTree.dist       https://raw.githubusercontent.com/OpenEngineDK/extensions-PropertyTree/master/PropertyTree.dist

# standard set of extensions
git /extensions/OEParticleSystem        https://github.com/OpenEngineDK/extensions-OEParticleSystem.git

git-dev /extensions/OEParticleSystem    git@github.com:OpenEngineDK/extensions-OEParticleSystem.git

